= "<package xmlns='http://www.idpf.org/2007/opf' version='2.0' unique-identifier='bookid'>"
%br
= "<metadata xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:opf='http://www.idpf.org/2007/opf'>"
%br
= "<dc:title>#{@book.title}</dc:title>"
%br

- if !@book.author[:last_name].empty?
  = "<dc:creator opf:file-as='#{@book.author.name_with_initial}' opf:role='aut'>#{@book.text.author.full_name}</dc:creator>"
- else
  = "<dc:creator opf:file-as='#{@book.text.author[:last_name]}' opf:role='aut'>#{@book.text.author[:last_name]}</dc:creator>"

%br

- if !@book.user[:artistic_name].empty?
  = "<dc:creator opf:file-as='#{@book.user[:artistic_name]}' opf:role='ill'>#{@book.user[:artistic_name]}</dc:creator>"
- elsif !@book.user[:last_name].empty?
  = "<dc:creator opf:file-as='#{@book.user.name_with_initial}' opf:role='ill'>#{@book.user.full_name}</dc:creator>"
- else
  = "<dc:creator opf:file-as='#{@book.user[:last_name]}' opf:role='ill'>#{@book.user[:last_name]}</dc:creator>"
  
%br

= "<dc:publisher>Pictorical</dc:publisher>"
%br
= "<dc:language>en-US</dc:language>"
%br
= "<dc:identifier opf:scheme='Pictorical' id='bookid'>#{@book[:isbn]}</dc:identifier>"
%br
= "<dc:rights>"
%br
= "Text: Public Domain;"
%br

- if !@book.user[:artistic_name].empty?
  = "Illustrations copyright © #{@book.user[:artistic_name]} #{Time.now.year};"
- elsif !@book.user[:last_name].empty?
  = "Illustrations copyright © #{@book.user.full_name} #{Time.now.year};"
- else
= "Illustrations copyright © #{@book.user[:last_name]} #{Time.now.year};"

%br
= "Design copyright © Pictorical Ltd #{Time.now.year}"
%br
= "</dc:rights>"
%br
= "</metadata>"
%br
= "<manifest>"
%br
= "<item id='ncx' href='toc.ncx' media-type='application/x-dtbncx+xml'/>"
%br
%br
= "<item id='copyright-page' href='content/00copyright.html' media-type='application/xhtml+xml'/>"
%br
= "<item id='title-page' href='content/01title.html' media-type='application/xhtml+xml'/>"
%br
= "<item id='artist-page' href='content/02artist.html' media-type='application/xhtml+xml'/>"
%br
= "<item id='story' href='content/03story.html' media-type='application/xhtml+xml'/>"
%br
%br
= "<item id='cover' href='content/images/cover.jpg' media-type='image/jpeg'/>"
%br
%br
= "<item id='capital' href='content/images/cap.png' media-type='image/png'/>"
%br
%br
= "<!--<item id='illustration1' href='content/images/005.png' media-type='image/png'/>-->"
%br
= "<!-- etc -->"
%br
%br
= "<item id='artist1' href='content/images/artist.png' media-type='image/png'/>"
%br
= " "
%br
= "<item id='style-illustrations' href='content/styles/artwork.css' media-type='text/css'/>"
%br
= "<item id='style-text' href='content/styles/text.css' media-type='text/css'/>"
%br
= "<item id='style-title' href='content/styles/title.css' media-type='text/css'/>"
%br
= "<item id='style-copyright' href='content/styles/copyright.css' media-type='text/css'/>"
%br
%br
= "</manifest>"
%br
%br
= "<spine toc='ncx'>"
%br
= "<itemref idref='copyright-page'/>"
%br
= "<itemref idref='title-page'/>"
%br
= "<itemref idref='artist-page'/>"
%br
= "<itemref idref='story'/>"
%br
= "</spine>"
%br
%br
= "<guide>"
%br
= "<reference type='copyright-page' href='content/00copyright.html' />"
%br
= "<reference type='text' href='content/01title.html' />"
%br
= "<reference type='text' href='content/02artist.html' />"
%br
= "<reference type='text' href='content/03story.html' />"
%br
= "</guide>"
%br
%br
= "</package>"