= form_tag('http://api2.transloadit.com/assemblies', :multipart => true, :id => 'upload_illustration') do
  = hidden_field_tag :params, @transloadit_params.to_json

  %p
    = hidden_field_tag :type, @type
    = hidden_field_tag :position, @position
    = file_field_tag :image
  %p
    = check_box_tag :draft
    This is a sketch (not the final version)
  = submit_tag "Upload illustration"