%p= "Hi, #{@book.user[:first_name]},"

%p= "You are now illustrating #{@book.text[:title]}."

%p
  %b What's next?

- if @book.user[:tutorial_mode]

  %p As this is your first illustrated book with Pictorical, we want to teach you how to make awesome books with us.

  %p= "That's why we are asking you to do only one illustration for #{@book.text[:title]} using our Artwork Guidelines. We will then check everything's fine and then you can continue illustrating it."

  %p= "We will keep the book #{@book.text[:title]} reserved for you for two weeks. If you haven't sent your first illustration before #{@expiration} then we will make the book available for other artist to illustrate it."

- else

  %p You can now start illustrating this story. Please remember to follow our Artwork Guidelines carefully, as they are very important for keeping the quality of our books awesome.

  %p You can start illustrating the story right now. Please, keep us updated on your work. We will send you friendly reminders each week or so, just to ask how you’re doing and see if you have any questions.

%p
  Feel free to write us to
  = link_to "artists@pictorical.com", "mailto:artists@pictorical.com"
  and tell us your advances and ask your questions.

%p Thanks, and happy illustrating!

%p Victor and Mauko
%p Pictorical Team
%p
%p
  = "PS: Do you want to change #{@book.text[:title]}? No problem, just "
  = link_to "choose another story", "http://publisher.pictorical.com/texts"
