= "Hi #{@invitation[:first_name]},"

- unless @invitation[:specially]

  I’ve looked at your portfolio and am a big fan of your work.

- else

  = "I’ve looked at your portfolio and am a big fan of your work, especially #{@invitation[:specially]}."


My name is Victor, co-founder of Pictorical. Nice to meet you. Pictorical publishes the world’s greatest stories, illustrated by emerging artists all over the world—just like you.

I’d like to invite you to join us. As part of Pictorical, you will be published worldwide and earn half of the profits from the sale of your books.

What’s next?

To start illustrating your first story, go to http://publisher.pictorical.com/users/sign_up and sign up with your email address,
= "#{@invitation[:email]}."

If you have any questions, you can ask us at artists@pictorical.com.

Looking forward to having you on board,

Best,

Victor, co-founder of Pictorical

PS: In case you are wondering, you received this email because you sent us your portfolio on http://artists.pictorical.com
