= "Hi, #{@invitation[:first_name]}"

= "You have invited to join Pictorical. Please go to #{@url} and sign up with your #{@invitation[:email]} email."

- if !@invitation[:specially].empty?
  = "We had invited you, specially, #{@invitation[:specially]}."
  
= "Welcome aboard!"