%p= "Hi #{@book.user_first_name},"

%p
  -if @change
    You are now illustrating
  -else
    You are illustrating
  %b= @book.title

%p
  %b What's next?

%p
  You can read your book and upload your illustrations in
  = link_to "http://publisher.pictorical.com", "http://publisher.pictorical.com"

%p
  Please remember to follow our
  = link_to "Artwork Guidelines", "http://publisher.pictorical.com#{artwork_guidelines_path}"
  carefully, as they are very important for keeping the quality of our books awesome.

%p
  Please upload your illustrations often, then we can give you feedback on them.

%p
  We will keep the book
  %b= @book.title
  reserved for you for two weeks. If you haven’t sent your first illustration by
  = @expiration
  then we will make the book available for another artist to illustrate it.

%p
  Feel free to contact us at
  = link_to "artists@pictorical.com", "mailto:artists@pictorical.com"
  and tell us your progress and ask questions.

%p Thanks, and happy illustrating!

%p
  The Pictorical Team
  %br
  Victor and Mauko
%p
  PS: Do you want to change
  = @book.title
  ? No problem! Just
  = link_to "choose another story", "http://publisher.pictorical.com/texts"
