%p= "Hi #{@book.user[:first_name]},"

%p
  -if @change
    You are now illustrating
  -else
    You are illustrating
  %b= @book.title

%p
  %b What's next?

- if @book.user[:tutorial_mode]

  %p As this is your first illustrated book with Pictorical, we want to teach you how to make awesome books with us.

  %p
    That’s why we are asking you initially to do only one illustration for
    %b= "#{@book.title}"
    , using our
    %b= link_to "Artwork Guidelines", artwork_guidelines_path
    We will then check that everything’s fine, and then you can continue illustrating it.

  %p
    We will keep the book
    %b= @book.title
    reserved for you for two weeks. If you haven’t sent your first illustration by
    = @expiration
    then we will make the book available for another artist to illustrate it.

- else

  %p
    You can now start illustrating this story. Please remember to follow our
    %b= link_to "Artwork Guidelines", artwork_guidelines_path
    carefully, as they are very important for keeping the quality of our books awesome.

  %p You can start illustrating the story right now. Please keep us updated on your work. We will send you friendly reminders each week or so, just to ask how you’re doing and see if you have any questions.

%p
  Feel free to contact us at
  = link_to "artists@pictorical.com", "mailto:artists@pictorical.com"
  and tell us your progress and ask questions.

%p Thanks, and happy illustrating!

%p
  The Pictorical Team
  %br
  Victor and Mauko
%p
  PS: Do you want to change
  = @book.title
  ? No problem! Just
  = link_to "choose another story", "http://publisher.pictorical.com/texts"
