= form_for @author do |f|
  - if @author.errors.any?
    #error_explanation
      %h2
        = pluralize(@author.errors.count, "error")
        prohibited this text from being saved:
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg
  %p
    .title= f.label :name
    .field= f.text_field :name
  %p
    .title= f.label :last_name
    .field= f.text_field :last_name
  %p
    .actions
      = f.submit