#notice
  = notice
  
#admin-canvas
  
  %h1= "#{@author.name} #{@author.last_name}"
  
  .admin
    = link_to "edit", :action => "edit"
    ·
    = link_to "new", :action => "new"
    ·
    = link_to "all", :action => "index"
    ·
    = link_to "delete", @invitation, :confirm => 'Are you sure?', :method => :delete