- content_for :navbar do
  = render :partial => "shared/alerts_notices"
  = render :partial => "layouts/adminbar"

#admin-canvas

  %h1= "#{@author.name} #{@author.last_name}"

  .admin
    %p
      = link_to "edit", :action => "edit"
      ·
      = link_to "new", :action => "new"
      ·
      = link_to "all", :action => "index"
      
      - if @author.texts.first.nil?
        ·
        = link_to "delete", @author, :confirm => 'Are you sure?', :method => :delete
      
      - if !@author[:country].nil?
        ·
        = @author[:country]
        
      - if !@author[:defunction].nil?
        ·
        = @author[:defunction]
        
    - @author.texts.each do |text|
      %p
        = link_to text[:title], text
        %br
        - unless text[:published].nil?
          Published at
          = text[:published]
          %br
        Public Domain in
        - copyright_status_of(text).each do |key, value|
          - if value
            ·
            = value
          