- content_for :navbar do
  = render :partial => "shared/alerts_notices"
  = render :partial => "layouts/adminbar"

#admin-canvas

  %h1= "#{@author.name} #{@author.last_name}"

  .admin
    %p
      = link_to "edit", :action => "edit"
      ·
      = link_to "new", :action => "new"
      ·
      = link_to "all", :action => "index"

      - if @author.texts.first.nil?
        ·
        = link_to "delete", @author, :confirm => 'Are you sure?', :method => :delete

      ·
      = "From #{@author[:country]}"

      - if @author.is_defunct?
        ·
        = "Defuncted at #{@author[:defunction]}"

    - @author.texts.each do |text|
      %p
        = link_to text[:title], text
        %br
        - if text.is_published?
          = "Published at #{text[:published]}"
          %br
        - if text.is_translated?
          = "Translated at #{text[:translation_published]} by"
          = link_to "#{text.translator_full_name}", text.translator
          %br
        Public Domain in
        - if text[:public_domain_anyway]
          Everywhere
          - unless text[:public_domain_anyway_comment].empty?
            (#{text[:public_domain_anyway_comment]})
        - else
          - text.copyright_status.each do |key, value|
            - if value
              ·
              = key.to_s.upcase
