- content_for :navbar do
  = render :partial => "shared/alerts_notices"
  = render :partial => "layouts/adminbar"

#admin-canvas

  %h1= "User #{@user.first_name} #{@user.last_name}"

  - if @user.admin?
    %p
      = "User is an admin"
      = link_to "make artist", :action => "unmake_admin"
  - else
    %p
      = "User is an artist"
      = link_to "make admin", :action => "make_admin"
      ·
      = link_to "edit", :action => "edit"
    %hr
    %p
      = "First name:"
      %b= "#{@user.first_name}" if @user.first_name?

    %p
      = "Last name:"
      %b="#{@user.last_name}" if @user.last_name?

    %p
      = "Artistic name:"
      %b="#{@user.artistic_name}" if @user.artistic_name?

    %p
      = "Country:"
      %b="#{@user.country}" if @user.country?

    %p
      = "Birthdate:"
      %b= "#{@user.birthdate.to_s}" if @user.birthdate?

    %p
      Email:
      = link_to @user.email, @user.email if @user.email?

    %p
      = "Paypal account:"
      %b="#{@user.paypal_account}" if @user.paypal_account?

    %p
      Address:
      %br
      %b= @user.address_line_one if @user.address_line_one?
      %br
      %b= @user.address_line_two if @user.address_line_two?
      %br
      = "City:"
      %b= "#{@user.city}" if @user.city?
      %br
      = "State:"
      %b= "#{@user.state}" if @user.state?
      %br
      = "Zip:"
      %b= "#{@user.zip}" if @user.zip?
      %br
      = "Country:"
      %b= "#{@user.country}" if @user.country?

    %p
      Portfolio:
      %b= link_to(@user.portfolio_url,@user.portfolio_url)  if @user.portfolio_url?
    
    %p
      Pictorical Link:
      %b= "#{@user[:pictorical_link]}" if @user.pictorical_link?
    %p
      = "Artschool:"
      %b= "#{@user.art_school_name}" if @user.art_school_name?

    %p
      = "Twitter:"
      %b="#{@user.twitter}" if @user.twitter?

    %p
      = "Accepted license agreement:"
      %b= "#{@user.accepted_license_agreement.to_s}" if @user.accepted_license_agreement?

    %p
      = "Created at:"
      %b="#{@user.created_at}" if @user.created_at?

  %p
    = "User created: " + time_ago_in_words(@user.created_at) + " ago "
    %span.invisible= @user.created_at.to_s

  %p
    = "User updated: " + time_ago_in_words(@user.updated_at.to_s) + " ago "
    %span.invisible= @user.updated_at.to_s
