#notice
  = notice

#admin-canvas 
  
  %h1= "User #{@user.first_name} #{@user.last_name}"

  - if @user.tutorial_mode?
    %p
      = "User in tutorial mode"
      = link_to "release from tutorial", :action => "mature"
  - else
    %p
      = "User not in tutorial mode"
      = link_to "back to tutorial", :action => "demature"
      
  - if @user.admin?
    %p
      = "User is an admin"
      = link_to "downgrade", :action => "unmake_admin"
  - else
    %p
      = "User is an artist"
      = link_to "upgrade", :action => "make_admin"

  %p
    = "User created: " + time_ago_in_words(@user.created_at) + " ago "
    %span.invisible= @user.created_at.to_s

  %p
    = "User updated: " + time_ago_in_words(@user.updated_at.to_s) + " ago "
    %span.invisible= @user.updated_at.to_s
