#simple-canvas
  #notice
    = notice
  %h1 Forgotten. 
  .inner
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .input
        .label
        %p
          = f.text_field :email
          %br
          &nbsp;Email
        %p= f.submit "Send me reset password instructions"
