- title "Artwork guidelines"


- content_for :navbar do
  .item.half= link_to "Technique", :anchor => "technique"
  .item.half= link_to "Types of illustrations", :anchor => "types"
  .item.half= link_to "Image sizes", :anchor => "sizes"
  .item.half= link_to "Illustration edges", :anchor => "edges"
  .item.half= link_to "Transparency and file formats", :anchor => "formats"
  .item.half= link_to "Tips", :anchor => "tips"

#guidelines
  = render :partial => "illustrations/artwork_guidelines", :locals => {:toc => false}
