- title "Pictorical.com Legal"

- content_for :navbar do
  %h1 Legal stuff
  .inner
    %p= link_to "License Agreement", license_agreement_path
    %p= link_to "Terms and Conditions", terms_and_conditions_path
    %p= link_to "Privacy Policy", privacy_policy_path
    %p= link_to "Website disclaimer", website_disclaimer_path
    %p= link_to "Copyright Notice", copyright_notice_path