- title "License Agreement"

- content_for :navbar do
  .inner
    %p= link_to "License Agreement", license_agreement_path
    %p= link_to "Terms and Conditions", terms_and_conditions_path
    %p= link_to "Privacy Policy", privacy_policy_path
    %p= link_to "Website disclaimer", website_disclaimer_path
    %p= link_to "Copyright Notice", copyright_notice_path

#static-canvas

  #titlex
    %h1 Agreement between Illustrators and Pictorical Ltd.
  .inner
    %h2 1. Interpretation
    %p
      (1) The pronoun’s “
      %b> we
      \” and “
      %b> us
      \” and the possessive adjectives “
      %b> our
      \” and “
      %b> ours
      \” refer to Pictorical Limited, a private company incorporated with limited liability in England and Wales under company number 07290547.
    %p
      (2) The pronoun “
      %b> you
      \” and the possessive adjectives “
      %b> your
      \” or “
      %b> yours
      \” refer to the person who completed our consent form and not to any company, firm or other entity of which you may be a director, partner, manager, employee or agent or to which you may be otherwise connected.
    %p (3) Unless it is clear from the context that some other meaning is intended:
    %p
      \“
      %b> the Licence
      \” means the licence granted by clause 5 (1);
    %p
      \“
      %b> Merchandise
      \” means any article other than a book and includes calendars, clothing, games, greetings cards, posters, pottery, prints, toys or other goods;
    %p
      \“
      %b> PayPal
      \” is a secure online payment system operated by PayPal (Europe) S.à.r.l. & Cie, S.C.A. of 22-24 Boulevard Royal L-2449, Luxembourg;
    %p
      \“
      %b> Specification
      \” means a specification of our requirements within the meaning of clause 4 (1);
    %h2 2. Summary of the Agreement
    %p (1) You will offer us high quality illustrations for novels, poems, plays and other literary works from time to time.
    %p (2) We may reproduce such illustrations in any books that we may publish electronically or in print.
    %p (3) We may also reproduce such illustrations on calendars, clothing, greeting cards and other merchandise that we may make (or authorize others to make) from time to time.
    %p (4) We shall share with you any profits that we may receive from the sale or other distribution of such books and merchandise.
    %h2 3. Your Representations
    %p (1) We enter this agreement relying upon the following statements being true:-
    %p (a) You are over 18 years of age;
    %p (b) You are not prevented from entering an agreement with us either in England or in your own country for any reason such as mental illness or disability;
    %p (c) You work as a professional artist on your own account and any existing illustrations that you may offer us have been made by you in the course of that occupation on your own account;
    %p (d) You did not copy anybody else’s work in making such illustrations;
    %p (e) You have not assigned, licensed exclusively, mortgaged, pledged or otherwise disposed of any copyright that may subsist in those illustrations;
    %p (f) You have not made those illustrations in the course of employment or pursuant to a commission by a third party; and
    %p (g) To the best of your knowledge and belief, there is nothing to prevent your contracting with us on these terms.
    %p (2) Should we learn that any of those statements is untrue or has ceased to be true we may rescind the agreement or seek damages from you.
    %h2 4. Specification
    %p (1) From time to time we may specify our requirements in writing.
    %p (2) You will deliver illustrations to us in accordance with the Specification.
    %p (3) We may reject any illustration that fails to meet the Specification or is otherwise unsuitable for publication.
    %p (4) We may require you to amend an illustration or submit another illustration in place of any that we reject.
    %h2 5. The Licence
    %p (1) You hereby grant us an irrevocable, worldwide, non-exclusive licence in respect of any illustrations that you may offer us to do any act that would otherwise be restricted by copyright.
    %p (2) Such acts include but are not limited to:
    %p (a) incorporating such illustrations into electronic or printed books;
    %p (b) issuing copies of those books to the public;
    %p (c) reproducing your illustrations on Merchandise;
    %p (d) selling, offering for sale or rent or otherwise dealing in or distributing such Merchandise;
    %p (e) reproducing your illustrations in advertisements or promotional materials for such books or Merchandise on the internet (including social media websites) or in print.
    %p (3) This grant will bind your personal representatives and anyone else who may acquire your copyrights by assignment, operation of law or otherwise,
    %h2 6. Marketing your Illustrations
    %p (1) We need not publish a book that includes your illustrations if we have reason to believe that revenues from its sale or other distribution would not cover our publication, distribution, marketing and/or other costs.
    %p (2) If we decide to publish such a book, we may restrict such publication to e-books or print.
    %p (3) We may set the price at which such book is to be marketed.	.
    %p (4) We may make and distribute Merchandise after we cease to publish a book that contains your illustrations or if we decide not to publish such a book at all.
    %h2 7. Profit Sharing
    %p (1) We shall share with you equally any profits that we may receive from marketing your illustrations.
    %p (2) We shall compute such profits by deducting such overheads as production, distribution and marketing costs, insurance, commissions, professional fees, freight, duties and taxes from any revenues that we may receive from such marketing.
    %p (3) Such revenues may include licence fees, royalties and advertising and other payments that may be made to us as well as proceeds from the sale or rental of books and Merchandise.
    %h2 8. Payment
    %p (1) On or immediately after the last day of each month we shall draw up and send to you by email a statement showing any profits that we may have received from marketing your illustrations during that month.
    %p (2) If your share of such profits exceeds US$100 at the end of a month, we shall pay you that sum within 30 days of the date of that month’s statement.
    %p (3) Should the moneys due to you at the end of any month be less than US$100, we shall roll those moneys over until the next month to be accumulated with any moneys that may fall due to you during that subsequent month and so on until the moneys due to you at the end of a month exceed US$100.
    %p (4) We shall pay you through PayPal for which purpose you will open and maintain a PayPal  account.
    %p (5) You will supply us with such information as may need to know in order to pay you.
    %p (6) It is your responsibility to ensure that such information is full and accurate
    %p (7) We shall not be responsible for any loss or damage that you may suffer from payments that go astray should the information that you supply to us be incomplete or inaccurate.
    %h2 9. Your Obligations
    %p You will:-
    %p (a) not infringe the copyright or other intellectual property of any other person;
    %p (b) use your best endeavours to meet our Specifications;
    %p (c) notify us immediately if your learn that any of the statements in clause 3 was untrue or ceases to be true;
    %p (d) notify us immediately of any change of postal or email address, telephone or fax number or PayPal account;
    %p (e) indemnify us and hold us harmless against any action, claim, cost or demand arising out of any wrongdoing on your part including the infringement of another person’s copyright or other intellectual property; and
    %p (f) do nothing likely to bring us or any of our products, services or artists into disrepute.
    %h2 10. Moral Rights
    %p You hereby waive your moral rights under Chapter IV of the Copyright, Designs and Patents Act 1988 and equivalent legislation elsewhere in any illustrations you offer to us.
    %h2 11. Copyright
    %p (1) You will retain copyright in any illustrations that you offer us.
    %p (2) It is your responsibility and not ours to enforce your copyrights and other intellectual property against third parties.
    %p (3) You will assist us to enforce our intellectual property in any book or product that contains or bears your illustrations by supplying us with information that enables to detect the infringement and identify the infringer and by giving evidence in any proceedings that we may bring against such infringer.
    %h2 12. Term
    %p (1) Unless rescinded under clause 3 (2) or terminated under clause 13, this agreement will continue for so long as copyright in the illustrations you offer us subsists.
    %h2 13. Termination
    %p (1) We may terminate this agreement by notice with immediate effect if you indicate by your words or actions that you no longer intend to observe or perform this agreement.
    %p (2) Without prejudice to the generality of clause 13 (1), a breach of clause 9 (a) or 9 (f) shall signify that you no longer intend to observe or perform this agreement.
    %p (3) Either party may terminate this agreement by giving the other not less than [28 days] notice.
    %p (4) Because we may invest time, money and effort in promoting you and/or your work, we shall be entitled to reimbursement of our investment or compensation for the loss of profits that we could otherwise have expected (whichever may be higher) from such investment should you enter such an exclusive distribution or licensing agreement with a third party.
    %p (5) Subject to clause 13 (6), termination of this agreement will not affect any rights that may have accrued to either party under the Licence.
    %p (6) Should we rescind this agreement under clause 3 (2) or terminate it under clause 13 (1) our obligation to share profits with you under clause 8 shall cease and we may recover any payments that we may have made to you under that clause.
    %h2 14. Force Majeure
    %p Should we be delayed or prevented from performing any of our obligations under this agreement by circumstances beyond our reasonable control such as disruption of public services, strikes or natural disasters we shall not be liable to you for any loss or damage that you may sustain from such non-performance and we shall be excused from such performance while those circumstances continue.
    %h2 15. Severance
    %p Should any of these provisions be void, voidable or unenforceable, such provision shall be deemed never to have formed part of this agreement but all other provisions will remain in force.
    %h2 16. Exclusion of Equitable Defences or Remedies
    %p You may not rely on any indulgence by us in enforcing any of these provisions as a waiver, acquiescence or act giving rise to any other defence or remedy in equity.
    %h2 17. Amendments
    %p (1) Should we wish to add to, modify or delete any of these provisions we shall give you not less than 28 days notice of our intention to do so.
    %p (2) Should you object to such addition, modification or deletion you may service notice of termination under clause 13 (3).
    %p (3) Should you fail to serve such notice upon us within the time specified in our notice under clause 17 (1) you will be deemed to have accepted such addition, modification or deletion and will henceforth be bound by it.
    %h2 18. Notices
    %p (1) You may notify or serve notice on us by completing our on-line contact form.
    %p (2) We may notify or serve notices on you by email, fax or SMS text message.
    %h2 19. Arbitration
    %p Any dispute or difference will be referred to arbitration under the NIPC Arbitration Rules before a single arbitrator agreed by you and us or in default of agreement appointed by the Managing Director of NIPC Ltd. who will decide the matter on documents only unless you and we agree otherwise.
    %h2 20. Choice of Law and Jurisdiction
    %p (1) This agreement will be construed and enforced in accordance with the laws of England and Wales.
    %p (2) You submit irrevocably to the jurisdiction of the English courts.
  %p September 2010 Version