- content_for :navbar do
  = render :partial => "shared/alerts_notices"
  = render :partial => "layouts/adminbar"

#admin-canvas
  %h1 New invitation
  = render 'form', :invitation => @invitation
  .admin
    = link_to "all", :action => "index"
    = link_to "new", :action => "new"