#admin-canvas
  %h1 All invitations
  .admin
    = link_to "New", :action => "new"
  - @invitations.each do |invitation|
    %p
      = invitation.id
      = link_to "#{invitation.first_name} #{invitation.last_name}", invitation
    