- content_for :navbar do
  = render :partial => "shared/alerts_notices"
  = render :partial => "layouts/adminbar"

#admin-canvas
  %h1 All invitations

  - @invitations.each do |invitation|
    %p
      = invitation.id
      ·
      = link_to "#{invitation.first_name} #{invitation.last_name}", invitation
      ·
      = time_ago_in_words(invitation.created_at)
      ago
      - unless invitation.redeemed_at.nil?
        · Redeemed
        = time_ago_in_words(invitation.redeemed_at)
        ago

