- content_for :navbar do
  -if notice || params["notice"]
    #notice
      = notice
      = params["notice"]

  -if alert || params["alert"]
    #alert
      = alert
      = params["alert"]
      
  = render :partial => "layouts/adminbar"

#admin-canvas
  %h1 New invitation
  = render 'form', :invitation => @invitation, :reject => @reject