#notice
  = notice
%p= "#{@invitation.first_name} #{@invitation.last_name}"
%p= "#{@invitation.email}"
%p= "...#{@invitation.specially}"
#admin
  admin: 
  = link_to "edit invitation", :action => "edit"
  |
  = link_to "new invitation", :action => "new"