#admin-canvas
  #notice
    = notice  
  
  %h1= "Invitation for #{@invitation.first_name} #{@invitation.last_name}"
  %p= link_to "#{@invitation.email}", "mailto:" + @invitation.email
  %p= "specially: ...#{@invitation.specially}" unless @invitation.specially.empty?
  %p= "secret: #{@invitation.secret}"
  
  %p

  %p
    = "Invitation created: " + time_ago_in_words(@invitation.created_at) + " ago "
    %span.invisible= @invitation.created_at.to_s

  %p
    = "Invitation updated: " + time_ago_in_words(@invitation.updated_at.to_s) + " ago "
    %span.invisible= @invitation.updated_at.to_s
    
  
  .admin
    = link_to "edit", :action => "edit"
    ·
    = link_to "new", :action => "new"
    ·
    = link_to "all", :action => "index"