= form_tag('http://api2.transloadit.com/assemblies', :multipart => true, :id => 'upload_illustration') do
  = hidden_field_tag :params, @transloadit_params.to_json
  %p
    = label_tag :illustration
    %br
    = file_field_tag :illustration
  %p
    = submit_tag

= form_for @book do |f|
  = f.submit

:javascript
  var tlProtocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
  document.write(unescape("%3Cscript src='" + tlProtocol + "assets.transloadit.com/js/jquery.transloadit2.js' type='text/javascript'%3E%3C/script%3E"));
:javascript
  $(document).ready(function() {
    $('#upload_illustration').transloadit();
  });
  
  