.item
  = link_to cover do
    .cover
      = image_tag cover.image.url(:i180w)
      = image_tag "cover-bottom.png", :width => 180
.item
  = render :partial => "illustration_status", :locals => {:illustration => cover}
  = link_to "change or delete", cover, :method => :delete, :confirm => "You are about to delete this illustration. After this you can upload a new one. Are you sure?"
  - if current_user && current_user.admin?
    = link_to "Review", edit_illustration_path(cover), :class => "red"
- if cover.status == "not"
  .redbox.problems
    %pre= cover.problems