%div{:id => "inline#{inline.position}"}
  .item
    = link_to inline do
      = image_tag inline.image.url(:i600w), :class => "inline"
  .item
    = render :partial => "illustration_status", :locals => {:illustration => inline}
    = link_to "Change or delete illustration", inline, :method => :delete, :confirm => "You are about to delete this illustration. After this you can upload a new one. Are you sure?"
    - if current_user && current_user.admin?
      = link_to "Review", edit_illustration_path(inline), :class => "red"
  - if inline.status == "not"
    .redbox.problems
      %pre= inline.problems