:css
  body {font: 12 "Verdana"; line-height: 2em}
require 'net/http'
%br
illustrations = []
%br

- @book.illustrations.active.each do |i|
  illustrations << {:tipe => '#{i.tipe}', :position => '#{i.position}', :name => '#{i.image_original_id}', :url => '/pictorical_publisher/#{i.image_original_id}/original.#{i.image_file_extension}', :ext => "#{i.image_file_extension}" }
  %br

illustrations.each do |illustration|
%br
Net::HTTP.start("s3.amazonaws.com") do |http|
%br
resp = http.get(illustration.url)
%br
filename = illustration[:tipe] + "-" + illustration[:position] + "-" + illustration[:name] + "." + illustration[:ext]
%br
open(filename, "wb") { |file| file.write(resp.body) }
%br
end # |http|
%br
end # |illustration|