- title "Pictorical : Edit your book"

- javascripts "text"

#text-canvas

  #notice
    = notice

  #title
    %h1= @book.title
    %h3
      written by
      %span.up= "#{@book.author.name} #{@book.author.last_name}"
    %h3
      illustrated by
      %span.up= "#{@book.user.first_name} #{@book.user.last_name}"
  #container

    #action-box
      = "#{@book.words} words · #{@book.illustrations_lower}~#{@book.illustrations_upper} illustrations"
      ·
      Illustrate this story following our
      = link_to "Artwork Guidelines", :artwork_guidelines, :class => "yellow"
      - unless @book.words < 4000
        %p
        When you are ready
        = link_to "publish", {:action => "review"},  :class => "illustrate-this-link", :confirm => "Are you ready to publish this book? Did you send the illustrations to uploads+#{@book.id}@pictorical.com?"
        or
      = link_to "change", {:controller => "texts", :action => "index"},  :class => "choose"

    - if @book.words < 4000
      #warning-box
        = "This is a short story (#{@book.words} words). Want to illustrate it? Choose one or two more stories by the same author to reach 4000 words, and send us your choice to"
        = link_to "books@pictorical.com", "mailto:books@pictorical.com"

    - if @current_user.tutorial_mode?

      #action-box
        .left.tutorial
          · Make
          %b ONLY ONE
          story illustration (not a cover or capital) following our
          = link_to "artwork guidelines", :artwork_guidelines, :class => "yellow"
          %br
          · Send the illustration to
          = link_to "uploads+#{@book.id}@pictorical.com", "mailto:uploads+#{@book.id}@pictorical.com", :class => "blue"
          %br
          · When you are ready, hit Publish.


    - else

      #action-box
        .left
          · Illustrate this book following our
          = link_to "artwork guidelines", :artwork_guidelines, :class => "yellow"
          %br
          · Send the illustrations one by one to
          = link_to "uploads+#{@book.id}@pictorical.com", "mailto:uploads+#{@book.id}@pictorical.com", :class => "blue"
          %br
          · When you are ready, hit
          = link_to "publish", {:action => "review"},  :class => "green"


    #story
      = @book.content.html_safe
    %h3
      %span.up
        The end