- title "Pictorical, Illustrate #{@text[:title]} by #{@text[:author]}"

- javascripts "text"

#text-canvas

  #notice
    = notice
  
  #title
    %h1=  @text[:title]
    %h3
      written by
      %span.up= "#{@text.author_name} #{@text.author_last_name}"
    %h3
      illustrated by
      %span.up= "#{@book.user.first_name} #{@book.user.last_name}"
  #container
  
    #action-box
      = "#{@book.text.words_rounded} words · #{@book.text.illustrations_lower}~#{@book.text.illustrations_upper} illustrations"
      ·  You are illustrating this book 
      = link_to "publish", {:action => "review"},  :class => "illustrate-this-link"
      = link_to "change", {:controller => "texts", :action => "index"},  :class => "choose"

    - if @current_user.tutorial_mode?

      #action-box
        .left.tutorial
          · Make ONE story illustration (not a cover or capital) following our
          = link_to "artwork guidelines", :artwork_guidelines, :class => "yellow"
          %br
          · Send the illustration to
          = link_to "uploads+#{@book.id}@pictorical.com", "mailto:uploads+#{@book.id}@pictorical.com", :class => "blue"
          %br
          · When you are ready, hit
          = link_to "publish", {:action => "review"},  :class => "green"    
    
    
    - else

      #action-box
        .left
          · Illustrate this book following our
          = link_to "artwork guidelines", :artwork_guidelines, :class => "yellow"
          %br
          · Send the illustrations one by one to
          = link_to "uploads+#{@book.id}@pictorical.com", "mailto:uploads+#{@book.id}@pictorical.com", :class => "blue"
          %br
          · When you are ready, hit
          = link_to "publish", {:action => "review"},  :class => "green"


    #story
      = @text[:content].html_safe
    %h3
      %span.up
        The end