- title "Pictorical : Edit your book"

- javascripts "text"


#text-canvas

  %script
    \//<![CDATA[
    var inline = new Array();
    - @book.illustrations.each do |illustration|
      = "inline['in#{illustration.position}'] = '#{illustration.image.url(:i600w)}';"
    \//]]>

  #notice
    = notice
    = params["notice"]

  #alert
    = alert
    = params["alert"]

  #title
    %h1= @book.title
    %h3
      written by
      %span.up= "#{@book.author.name} #{@book.author.last_name}"
    %h3
      illustrated by
      %span.up= "#{@book.user_first_name} #{@book.user_last_name}"
  #container

    #action-box
      = "#{@book.words} words · #{@book.illustrations_lower}~#{@book.illustrations_upper} illustrations"
      · 
      Illustrate this story following our
      = link_to "Artwork Guidelines", :artwork_guidelines, :class => "yellow"
      - unless @book.words < 4000
        %p
          When you are ready
          - if @current_user.tutorial_mode?
            = link_to "send your first illustration", {:action => "review"},  :class => "illustrate-this-link", :confirm => "Are you ready to publish this book? Did you send the illustrations to uploads+#{@book.id}@pictorical.com?"
          - else
            = link_to "publish", {:action => "review"},  :class => "illustrate-this-link", :confirm => "Are you ready to publish this book? Did you send the illustrations to uploads+#{@book.id}@pictorical.com?"
          or
          = link_to "choose another book", {:controller => "texts", :action => "index"},  :class => "choose"

    - if @book.words < 4000
      #warning-box
        %b= "This book is too short (#{@book.words} words)"
        %br
        Add one or two more stories by the same author to this book to reach 4000 words.
        = link_to "add a story to my book", {:controller => "texts", :action => "index"},  :class => "choose"

    - unless @book.words < 4000

      - if @current_user.tutorial_mode?

        #action-box
          .left.tutorial
            · Make
            %b ONLY ONE
            story illustration (not a cover or capital) following our
            = link_to "artwork guidelines", :artwork_guidelines, :class => "yellow"
            %br
            · Send the illustration to
            = link_to "uploads+#{@book.id}@pictorical.com", "mailto:uploads+#{@book.id}@pictorical.com", :class => "blue"
            %br
            · When you are ready, hit the green button above
            %br
            · We will check your illustration, then you can continue illustrating this book

      - else

        #action-box
          .left
            · Illustrate this book following our
            = link_to "artwork guidelines", :artwork_guidelines, :class => "yellow"
            %br
            · Send the illustrations one by one to
            = link_to "uploads+#{@book.id}@pictorical.com", "mailto:uploads+#{@book.id}@pictorical.com", :class => "blue"
            %br
            · When you are ready, hit
            = link_to "publish", {:action => "review"},  :class => "green"

    - if @book.texts.count > 1
      #toc
        Stories in your book:
        - @book.texts.each do |text|
          .item
            = text.title
            - unless @book.principal == text
              = link_to "remove", "/books/#{@book.id}/remove_text?text_id=#{text.id}" , :class => "remove"
    
    #story
      = @book.content.html_safe
    %h3
      %span.up
        The end