- title "Pictorical : Edit your book"

- javascripts "text"

- content_for :navbar do
  
  = render :partial => "shared/alerts_notices"
  = render :partial => "book_info"
  = render :partial => "book_stats"
  = render :partial => "book_admin"
  = render :partial => "follow_artwork_guidelines"
  = render :partial => "book_too_short"
  = render :partial => "book_actions"
  = render :partial => "list_texts"
  = render :partial => "upload_or_show_cover"
    
  = render :partial => "list_illustrations", :locals => {:type => "cap"}
  = render :partial => "list_illustrations", :locals => {:type => "inline"}

#container.gray
  #story
    = @book.content.html_safe
    = render :partial => "illustrations_for_placement", :locals => {:editable => true}