- title "Pictorical, Illustrate #{@text[:title]} by #{@text[:author]}"

- javascripts "text"

#text-canvas

  #notice
    = notice
  
  #title
    %h1=  @text[:title]
    %h3
      written by
      %span.up= "#{@text.author_name} #{@text.author_last_name}"
    %h3
      illustrated by
      %span.up= "#{@book.user.first_name} #{@book.user.last_name}"
  #container
  
    #action-box
      20,000 words · 123-344 illustrations ·
      %b You are illustrating this book, 
      = link_to "change it?", {:controller => "texts", :action => "index"},  :class => "choose"

    #story
      = @text[:content].html_safe
    %h3
      %span.up
        The end