- title "Books list"
#notice
  = notice
#admin-canvas
  %h1 All books
  - @books.each do |book|
    %p
      = link_to "#{book.id}", book
      ·
      = link_to "#{book.title}", book unless book.text.nil?
      ·
      by
      = link_to "#{book.user_first_name} #{book.user_last_name}", book.user unless book.user.nil?

      = time_ago_in_words(book.created_at)
      ago
