- title "Pictorical : Edit your book"

- javascripts "text-noeditable"

- content_for :navbar do

  = render :partial => "shared/alerts_notices"
  = render :partial => "book_info"
  = render :partial => "book_stats"
  = render :partial => "show_book_status"
  = render :partial => "show_cover"
 
#container.gray
  #story
    = @book.content.html_safe
    = render :partial => "illustrations_for_placement", :locals => {:editable => false}










