- title "Pictorical, Illustrate #{@book[:title]} by #{@book[:author]}"

- javascripts "text"

#text-canvas

  #notice
    = notice
  
  #title
    %h1=  @book.title
    %h3
      written by
      %span.up= "#{@text.author_name} #{@text.author_last_name}"
    %h3
      illustrated by
      %span.up= "#{@book.user.first_name} #{@book.user.last_name}"
  #container
  
    #action-box
      = "#{@book.words} words · #{@book.illustrations_lower}~#{@book.illustrations_upper} illustrations"
      = "status: #{@book.status}"
      = link_to "revise", {:action => "revise"},  :class => "illustrate-this-link"
      = link_to "publish", {:action => "publish"},  :class => "illustrate-this-link"
      = link_to "destroy", {:action => "destroy"},  :class => "illustrate-this-link"
      



    #story
      = @book.content.html_safe
    %h3
      %span.up
        The end