- title "Book admin"

- javascripts "text"

#text-canvas

  #notice
    = notice
  
  #title
    %h1= @book.title
    %h3
      written by
      %span.up= "#{@book.author.name} #{@book.author.last_name} (#{@book.author.id})"
    %h3
      illustrated by
      %span.up= "#{@book.user.first_name} #{@book.user.last_name} (#{@book.user.id})"
  #container
  
    #action-box
      = "#{@book.words} words · #{@book.illustrations_lower}~#{@book.illustrations_upper} illustrations"
      = "status: #{@book.status}"
      = link_to "revise", {:action => "revise"},  :class => "illustrate-this-link"
      = link_to "publish", {:action => "publish"},  :class => "illustrate-this-link"
      = link_to "destroy", {:action => "destroy"},  :class => "illustrate-this-link"
      
    #multitext
      %p
        %b Principal text:
        ="#{@book.principal.title} (#{@book.principal.id})"
      %p
        = form_tag("/books/#{@book.id}/add_text", :method => :get) do
          %b Add text
          = text_field_tag 'text_id'
          = submit_tag 'add'
      %p
        %b Remove text
        - if @book.texts.count > 1
          - @book.texts.each do |text|
            - unless text == @book.principal
              = link_to "#{text.title} (#{text.id})", "/books/#{@book.id}/remove_text?text_id=#{text.id}"
            
          ·  

    #story
      = @book.content.html_safe
    %h3
      %span.up
        The end