= "<?xml version='1.0' encoding='UTF-8'?>"
%br
= "<html xmlns='http://www.w3.org/1999/xhtml'>"
%br
= "<head>"
%br
= "<title>Title Page</title>"
%br
= "<link href='styles/artwork.css' rel='stylesheet' type='text/css' />"
%br
= "<link href='styles/title.css' rel='stylesheet' type='text/css' />"
%br
= "</head>"
%br
= "<body><div class='cover'><img src='images/cover.jpg' alt='illustration' /></div></body>"
%br
= "</html>"