= "<?xml version='1.0' encoding='UTF-8'?>"
%br
= "<html xmlns='http://www.w3.org/1999/xhtml'>"
%br
= "<head>"
%br
= "<title>The Artist</title>"
%br
= "<link href='styles/artwork.css' rel='stylesheet' type='text/css' />"
%br
%br
= "</head>"
%br
%br
= "<body><div class='cover'><a href='#{@book.user[:pictorical_link]}'><img src='images/artist.png' alt='artist'/></a></div></body>"
%br
%br
= "</html>"