= "<?xml version='1.0' encoding='UTF-8'?>"
%br
= "<html xmlns='http://www.w3.org/1999/xhtml'>"
%br
= "<head>"
%br
= "<title>The Story</title>"
%br
= "<link href='styles/artwork.css' rel='stylesheet' type='text/css' />"
%br
= "<link href='styles/text.css' rel='stylesheet' type='text/css' />"
%br
= "</head>"
%br
= "<body>"
%br
%br
= @book.epubeized
%br
%br
= "</body>"
%br
= "</html>"