#simple-canvas
  %h1 Pictorical Secret Door
  .inner
    #alert
      = flash[:alert]
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .input
        .label
        %p
          = f.text_field :email
          %br
          &nbsp;Email
        %p
          = f.password_field :password
          %br
          &nbsp;Password
        %p
        = f.submit "Sign in"
        %br
        &nbsp;

      -# if devise_mapping.rememberable?
        -#%p
          -#= f.check_box :remember_me
          -#= f.label :remember_me
    -#= render :partial => "devise/shared/links"
    .forgot
      = link_to "Help! I forgot my password!", new_password_path(resource_name)