= form_for @text do |f|
  - if @text.errors.any?
    #error_explanation
      %h2
        = pluralize(@text.errors.count, "error")
        prohibited this text from being saved:
      %ul
        - @text.errors.full_messages.each do |msg|
          %li= msg
  .field
    .title= f.label :title
    .field= f.text_field :title
  .field
    .title= f.label :author_id
    .field= f.text_field :author_id
  .field
    .title= f.label :source
    .field= f.text_field :source
  .field
    .title= f.label :content
    .field= f.text_area :content
    
    
  .actions
    = f.submit