= form_for @text do |f|
  - if @text.errors.any?
    #error_explanation
      %h2
        = pluralize(@text.errors.count, "error")
        prohibited this text from being saved:
      %ul
        - @text.errors.full_messages.each do |msg|
          %li= msg
  %p
    .title= f.label :title
    .field= f.text_field :title, :size => 70
  %p
    .title
      = f.label :author_id
      %span.admin= link_to "new", :controller => "authors", :action => "new"
    .field= collection_select(:text, :author_id, Author.all, :id, :name_with_initial, :prompt => true)
  %p
    .title= f.label :source
    .field= f.text_field :source, :size => 70
  %p
    .actions
      = f.submit
  %p
    .title= f.label :content
    .field= f.text_area :content, :cols => 70, :rows => 500

    
