- title "Pictorical : Choose a story"

- content_for :navbar do
  - if notice 
    #notice
      = notice
  - if alert
    #alert
      = alert

  - if current_user.admin?
    = render "layouts/adminbar"
      

  .section
    - @authors.each do |author|
      - if author.texts.not_deleted.count > 0
        .item
          = link_to :anchor => "a#{author.id}" do
            #{author.name}
            %b #{author.last_name}


%h1 Choose a story
.section.yellowbg
  Do you need help finding a story?
  We can help, just write us at
  %b= link_to "books@pictorical.com", "mailto:books@pictorical.com", :class => "yellow"


#list



  - @authors.each do |author|

    - if author.texts.not_deleted.count > 0
      .div
        %a{:name => "a#{author.id}"}
      %h4
        #{author[:name]} #{author[:last_name]}
      .textlist
        - author.texts.sorted.each do |text|
          - unless text[:deleted]
            .onetext
              - if text[:availability] || current_user.admin?
                .textlink= link_to text[:title], text
                .textinfo
                  #{text.words_rounded} words · about #{text.pages} pages · between #{text.illustrations_lower} and #{text.illustrations_upper} illustrations
                  = "· Available? #{text.availability}" if current_user.admin?
              - else
                .textlink= text[:title]
                .textinfo= "Someone is illustrating this story"

