- title "Pictorical, choose a story"
#text-canvas

  #notice
    = notice

  #title
    %h1 Choose a story

  #container
    - @authors.each do |author|
      - if author.texts.count > 1
    
        %h4
          = author.name
          %span.up= author.last_name
        .textlist
          - author.texts.each do |text|
            .onetext
              .textlink= link_to text[:title], text
              .textinfo= "#{text.words_rounded} words ~#{text.pages} pages · between #{text.illustrations_lower} and #{text.illustrations_upper} illustrations"
