- title "Pictorical, Illustrate #{@text[:title]} by #{@text[:author]}"
#notice
  = notice
#text-canvas

  #title
    %h1 
      -if @text[:deleted]
        = "DELETED!"
        %br
      = @text[:title]
    %h3
      %span.up
        = "#{@text.author_name} #{@text.author_last_name}"
  #container
  
    - if can? :new, Text
      .admin
        = link_to "edit", :action => "edit"
        ·
        = link_to 'destroy', :action => "trashed_destroy"
  
    #action-box
      = "#{@text.words} words · #{@text.illustrations_lower}~#{@text.illustrations_upper} illustrations"
      - unless current_user.has_books_under_review? || @text.words < 4000
        ·
        = illustrate_or_change
        or
        = link_to "choose another", {:action => "index"}, :class => "choose"
      - else
        - if current_user.has_books_under_review?
          %br
          Please wait until we publish your book to start illustrating another one
          - else
          %br
          = "This story is too short (#{@text.words} words), please choose one or more additional stories by the same author until you reach over 4000 words, and send your choice to "
          = link_to("books@pictorical.com", "mailto:books@pictorical.com")


    #story
      = @text[:content].html_safe
    