%p text#show

%h1
  = @text.title
%h2
  = @text.author
// incluir número de ilustraciones


- form_for Book.new do |f|
  = f.hidden_field :text_id, @text.id
  = f.submit "illustrate this story"

content
  = @text.content
