- title "Pictorical, Illustrate #{@text[:title]} by #{@text[:author]}"

#text-canvas

  #notice
    = notice
  
  #title
    %h1= @text[:title]
    %h3= "#{@text.author_name} #{@text.author_last_name}"
  #container
  
    #action-box
      20,000 words · 123-344 illustrations ·
      = illustrate_or_change
      or
      = link_to "choose other", :action => "index"

    #story
      = @text[:content].html_safe