- title "Pictorical, Illustrate #{@text[:title]} by #{@text[:author]}"
#notice
  = notice
#text-canvas

  #title
    %h1 
      -if @text[:deleted]
        = "DELETED!"
        %br
      = @text[:title]
    %h3
      %span.up
        = "#{@text.author_name} #{@text.author_last_name}"
  #container
  
    - if can? :new, Text
      .admin
        = link_to "edit", :action => "edit"
        ·
        = link_to 'destroy', :action => "trashed_destroy"

    - unless current_user.has_books_under_review?
      #action-box
        = "#{@text.words} words · #{@text.illustrations_lower}~#{@text.illustrations_upper} illustrations"
        ·
        = illustrate_change_or_add
        or
        = link_to "choose another", {:action => "index"}, :class => "choose"
        
      - if @text.words < 4000
        #warning-box
          %b= "This is a short story (#{@text.words} words)"
          %br
          = "Want to illustrate it? Click \"Illustrate text\", Choose one or two more stories by the same author to reach 4000 words, and send us your choice to"
          = link_to "books@pictorical.com", "mailto:books@pictorical.com"
        
    - else
      #warning-box
        Please wait until we publish your book to start illustrating a new one




    #story
      = @text[:content].html_safe
    