- title "Pictorical, trashed #{@text[:title]} by #{@text[:author]}"
#notice
  = notice
#text-canvas

  #title
    %h1 
      -if @text[:deleted]
        = "DELETED!"
        %br
      = @text[:title]
    %h3
      %span.up
        = "#{@text.author_name} #{@text.author_last_name}"
  #container
  
    - if can? :new, Text
      .admin
        = link_to "destroy for real", @text, :method => :delete
        -#·
        -#= link_to "undestroy", :action => "trashed_undestroy"
  
    #action-box
      = "#{@text.words_rounded} words · #{@text.illustrations_lower}~#{@text.illustrations_upper} illustrations"
      - unless current_user.has_books_under_review?
        ·
        = illustrate_or_change
        or
        = link_to "choose another", {:action => "index"}, :class => "choose"
      - else
        %br
        Please wait until we publish your book to start illustrating another one


    #story
      = @text[:content].html_safe