#admin-bar
  .header= link_to "Invites", invitations_path
  .item= link_to "new", new_invitation_path
  .item= link_to "red'md", invitations_path + "?redeemed=yes"
  .item= link_to "not-red'md", invitations_path + "?redeemed=no"
  .header= link_to "Users", users_path
  .header= link_to "Books", books_path
  .item= link_to "active", books_path + "?status=active"
  .item= link_to "review", books_path + "?status=review"
  .item= link_to "published", books_path + "?status=published"
  .item= link_to "destroyed", books_path + "?status=destroyed"
  .header= link_to "Texts", texts_path
  .item= link_to "new", new_text_path
  .item= link_to "trash", trashes_path
  .header= link_to "Authors", authors_path
  .item= link_to "new", new_author_path
  .header= link_to "Illustrations", illustrations_path
  .item= link_to "review", illustrations_path + "?status=review"
  .item= link_to "not", illustrations_path + "?status=not"
  .item= link_to "ok", illustrations_path + "?status=ok"