- if user_signed_in?
  = "Hello " + current_user.first_name
  路
  - unless @active_book.nil?
    = link_to "Your book", edit_book_path(@active_book)
    路
  = link_to "Your info", edit_user_registration_path
  路
  = link_to "Sign out",  destroy_user_session_path
  路
  = link_to "Help", help_path, :class => "red"