!!!
%html
  %head
    %title= yield :title
    = stylesheets "application"
    = javascript_include_tag :defaults
    = yield :head
    = csrf_meta_tag
  %body
    #header
      = yield :navbar
      .nav
        #artist_session
          - if user_signed_in?
            = "#{current_user.email} | "
            = link_to "sign out",  destroy_user_session_path
    = yield
