!!!
%html
  %head
    = render :partial => "layouts/head"
  %body
    .container_12
      #header.grid_12
        = render :partial => "layouts/header"
      .clear &nbsp;
      .grid_12
        #left_bar.grid_4.alpha
          = yield :navbar
        #main.grid_8.omega
          = yield
      .clear &nbsp
      #footer.grid_12
        = render :partial => "layouts/footer"